@model JaMoin.Models.TransactionCreateViewModel

@{
    ViewData["Title"] = "CreateTransaction";
}

<h1>Neue Transaktion</h1>


<div>
    <div class="row">
        <div class="col-4">Geldgeber</div>
        <div class="col-8">
            @Html.DropDownList("Geldleiher", Model.AllUsernames.Select(item => new SelectListItem
            {
                Value = item,
                Text = item
            }))
        </div>
    </div>
    <div class="row">
        <div class="col-4">Kommentar</div>
        <div class="col-8">
            <input type="text" placeholder="Grund des Leihens">
        </div>
    </div>
    <div class="row">
        <div class="col-4">Gesamtbetrag</div>
        <div class="col-8">
            <input type="number" placeholder="Gesamtbetrag" min="0">
        </div>
    </div>
    <div>
        <!--TODO beteiligte Personen-->
    </div>
</div>

<input type="button" value="Save" id="SaveButton" />
