@model JaMoin.Models.TransactionModel

@{
    ViewData["Title"] = "CreateTransaction";
}

<h1>CreateTransaction</h1>

<h4>TransactionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTransaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kommentar" class="control-label"></label>
                <input asp-for="Kommentar" class="form-control" />
                <span asp-validation-for="Kommentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GesamtBetrag" class="control-label"></label>
                <input asp-for="GesamtBetrag" class="form-control" />
                <span asp-validation-for="GesamtBetrag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- TODO Dropdown aller User -->
                <label asp-for="GeldgeberEmail" class="control-label"></label>
                <input asp-for="GeldgeberEmail" class="form-control" />
                <span asp-validation-for="GeldgeberEmail" class="text-danger"></span>
            </div>

            <!-- TODO Liste an Schuldnern auswählbar machen-->

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
